<div class="animated fadeIn">
  <div class="card-columns cols-2">
    <div class="card">
      <div class="card-header">
        Group recomandation
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">fantastic 5</small><!--group name-->
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <img src="assets/img/brand/lg.jpg" alt="logo">
        </div>
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i><a href="/#/group/"> Join</a></button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-eye"></i> View</button>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Create Group
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">create</small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <img src="assets/img/brand/lg.jpg" alt="logo">
        </div>
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Create</button>
      </div>
    </div>
    
    
   
    
  </div>
</div>
