<div class="animated fadeIn">
 
  
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>SBI</strong> <small>Loan scheme</small>
        </div>

<h2>SBI Scheme for Financing Farm Machinery</h2>
<p>Scheme for financing Farm Machinery where tangible assets are created (other than tractor, combine harvester and power tillers.<br><br>
Purpose of farm machinery financing scheme: Bank is extending financial assistance for purchase of farm machinery like implements, threshers, sprayers (both mechanical and motorized) bullock and cart etc.<br><br>
<b>Eligibility:</b> All categories of farmers cultivating lands are eligible for the loan.<br><br>
<b>Loan amount:</b><br>
For loans upto Rs1,00,000/-: 100% of the cost<br>
For loan above Rs 1,00,000/-: 75 to 85% of the cost of the asset to be purchased<br><br>
<b>Security: </b><br>
For loans upto Rs.100,000/-: Hypothecation of assets created out of Banks finance.<br>
For loans above Rs.100,000/- Hypothecation of assets created out of Banks finance. and Mortgage/ charge over the land or any security acceptable to the Bank.<br><br>
<b>Documents you need to provide:</b><br>
Land records, quotation for the assets to be purchased<br><br>
<b>How do you repay:</b><br>
Repayment will be half yearly/ yearly instalments depending on the harvest of the crops with a maximum of 7 years<br><br>
<b>How to apply for this loan: </b><br>
You may contact our nearest branch or talk to the marketing officers visiting your village.<br><br>
<b>For more details about scheme visit:</b> https://www.sbi.co.in/portal/web/agriculture-banking/scheme-for-financing-farm-machinery<br><br>
<b>Source:</b> https://www.sbi.co.in/
</p>

        <div class="card-body">
          <alert type="md-local">
            <strong>Well done!</strong> You successfully read this important alert message.
          </alert>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>SBI</strong> <small>Tractor loan</small>
        </div>
       
<h2>SBI to Offer One-Time Settlement for Tractor Loans</h2>
<p>Managing Director at SBI, Rajnish Kumar said that, One-time settlement (OTS) schemes for tractor loans worth Rs 6,000 crore announced by State Bank of India (SBI). Speaking to a television channel.<br><br>
Accounts falling under the categories of doubtful or loss-making assets for loans disbursed before September 30, 2011 will be eligible for the OTS scheme, said Kumar. He also said, “we are saying that other agri loans, like KCC (Kisan Credit Card) and other term loans of the same tractor and farm loan accounts, may also be covered under the same concession.” <br><br>
He informed that, adding that SBI is ready to take a haircut of 40 per cent of the outstanding balance as on September 30, 2016. On February 2, 2017, A circular to this effect was issued to the bank’s branches. The window for receiving applications under this scheme will be open till March 31.<br><br>
Earlier, in December, State Bank of India had also notified OTS schemes for SME and education loans. The cut-off date for receiving applications under these schemes is March 20. The determination of eligibility for OTS schemes was driven by adherence to specific parameters, said Kumar. <br><br>
“One-time settlement sometimes gives us a better recovery and the purpose of formulating the scheme is that the key element is that it is non-discretionary and is parameter-driven and follows a tick-boxes route. If all the boxes our branch manager (BM) would tick at his level, then he can approve. So, the delegation of power is right up to the BM level,” said Mr. Kumar.
<br><br>
<b>Source:</b> http://indianexpress.com
</p>

      </div>
    </div>
  </div>
</div>
