<embed src="../../../assets/documents/15cs743.pdf" style="margin-left: 200px;" width="900px" height="500px" />
<form>
    <button type="button" name="Approve" class="btn  btn-success " style="margin-left: 450px;margin-top: 40px;width: 180px;height: 40px;"  value="Approve" (click)="approve()">Approve</button>
    <button type="button" name="Reject" class="btn  btn-danger"  style="margin-left: 50px;width:180px;margin-top:40px;height: 40px;" value="Reject" (click)="reject()">Reject</button>
</form>
<!-- <img src="../../../assets/documents/15cs743.pdf" style="width: 800px;height: 600px;"/> -->
<!-- <object data="../../../assets/documents/15cs743.pdf" type="application/pdf" width="300" height="200">
    <a href="../../../assets/documents/15cs743.pdf">test.pdf</a>
    </object> -->