<div class="animated fadeIn">
  
    <!--/.col-->
    <div class="col-lg-12">
      <div class="card">
        
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name of member</th>
                
                <th>Contact</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>abcd</td>  
         
          <td>Tel+91-11-26567144, </td>
           
          
        </tr>
        <tr>
          <td>efgh  </td>
         
          <td>Tel: 0374-2500207,0374-2500207 </td>
         
          </tr>
          <tr>
            <td>xyz.</td>    
         
          <td>Tel: +91-11 41697900 / 46581300</td>
         
        </tr>
       
     
      <tr>
        <td>vvv.</td>
      
        <td>Tel:- 044 - 25941001</td>
        
            </tr>
              
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
    <!--/.col-->
  

</div>
<div class="animated fadeIn">
  <div class="card-columns cols-2">
    <div class="card">
      <div class="card-header">
        Member request
        
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <img src="assets/img/brand/lg.jpg" alt="logo">
        </div>
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> accept</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-eye"></i> decline</button>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Fertilizer
        
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <img src="assets/img/brand/lg.jpg" alt="logo">
        </div>
         <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> accept</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-eye"></i> decline</button>
      </div>
    </div>
    
    
   
    
  </div>
</div>

