<style type="">
  td, th {
    text-align: center;
  }
</style>
<table class="table table-bordered">
<thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Phone No</th>
    <th scope="col">View</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>6854796582</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>9874568532</td>
    <td>@fat</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Jacob1</td>
    <td>9865789452</td>
    <td>@fat1</td>
  </tr>
  <!-- <tr *ngFor="let PendingRequest of PendingRequests">
    <td>{{ PendingRequest.id }}</td>
    <td> {{  PendingRequest.name }} </td>
    <td> {{ PendingRequest.phone }}</td>
    <td> {{ PendingRequest.view }}</td>
  </tr> -->
</tbody>
</table>