<!--home page after this you will move next-->

 <div class="jumbotron jumbotron-fluid" id="banner" style="background-color:lightblue;">
        <div class="container text-center text-md-left" >
            <header>
                <div class="row justify-content-between">
                    <div class="col-2">
                        <img src="assets/img/brand/lg.jpg" alt="logo">
                    </div>
                    <div class="col-6 align-self-center text-right">
                        <a href="#/login" class="text-white lead"><b><h3>Login</h3></b></a>
                    </div>
                </div>
            </header>
            <h1 data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="display-3 text-white font-weight-bold my-5" >
            	A New Way<br>
            	To Develop Agriculture
            </h1>
            <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white my-4" >
                 Blockchain in development can ensure trust and alignment across the value chain<br>
                 This transformative technology can dramatically disrupt the way we approach development.
            </p>
            <a href="#" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="btn my-4 font-weight-bold atlas-cta cta-green">Get Started</a>
        </div>
    </div>
    <div class="container my-5 py-2">
        <h2 class="text-center font-weight-bold my-5">Smartest protection for your crops</h2>
        <div class="row">
            <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <img src="assets/img/brand/machine.jpg" alt="Anti-spam" class="mx-auto">
                <h4>Machinaries</h4>
                <p>Farm machinery, mechanical devices, including tractors and implements, used in farming to save labour</p>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <img src="assets/img/brand/pkvy.jpg" alt="Phishing Detect" class="mx-auto">
                <h4>Schemes</h4>
                <p>The Paramparagat Krishi Vikas Yojana (PKVY), an initiative to promote organic farming in the country</p>
            </div>
            <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true" class="col-md-4 text-center">
                <img src="assets/img/brand/cropinsurance.jpg" alt="Smart Scan" class="mx-auto">
                <h4>Crop Insurance</h4>
                <p>The Pradhan Mantri Fasal Bima Yojana (Prime Minister's Crop Insurance Scheme) was launched by Prime Minister of India Narendra Modi on 13 February 2016.<br>It envisages a uniform premium of only 2 per cent to be paid by farmers for Kharif crops, and 1.5 per cent for Rabi crops.</p>
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid feature" id="feature-first">
        <div class="container my-5">
            <div class="row justify-content-between text-center text-md-left">
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="col-md-6">
                    <h2 class="font-weight-bold">Take a look inside</h2>
                    <p class="my-4">Land integration to make more profit for the farmers</p>
                    <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-blue">Learn More</a>
                </div>
                <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="col-md-6 align-self-center">
                    <img src="assets/img/brand/land.jpg" alt="Take a look inside" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
    <!-- feature (green background) -->
    <div class="jumbotron jumbotron-fluid feature" id="feature-last">
        <div class="container">
            <div class="row justify-content-between text-center text-md-left">
                <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="col-md-6 flex-md-last">
                    <h2 class="font-weight-bold">Secure</h2>
                    <p class="my-4">
                        Increased security because of Blockchain technology
                    </p>
                    <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-blue">Learn More</a>
                </div>
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="col-md-6 align-self-center flex-md-first">
                    <img src="assets/img/brand/secure.jpg" alt="Safe and reliable" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>

    <!-- client -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-2 py-2 align-self-center">
                    <img src="assets/img/avatars/1.jpg" class="mx-auto d-block">
                </div>
                <div class="col-sm-4 col-md-2 py-2 align-self-center">
                    <img src="assets/img/avatars/2.jpg" class="mx-auto d-block">
                </div>
                <div class="col-sm-4 col-md-2 py-2 align-self-center">
                    <img src="assets/img/avatars/3.jpg" class="mx-auto d-block">
                </div>
                <div class="col-sm-4 col-md-2 py-2 align-self-center">
                    <img src="assets/img/avatars/4.jpg" class="mx-auto d-block">
                </div>
                <div class="col-sm-4 col-md-2 py-2 align-self-center">
                    <img src="assets/img/avatars/5.jpg" class="mx-auto d-block">
                </div>
                <div class="col-sm-4 col-md-2 py-2 align-self-center">
                    <img src="assets/img/avatars/6.jpg" class="mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
   
	<!-- copyright -->
	<div class="jumbotron jumbotron-fluid" id="copyright">
        <div class="container">
            <div class="row justify-content-between">
            	<div class="col-md-6 text-white align-self-center text-center text-md-left my-2">
                    Copyright © 2019 Blockchain for agri.
                </div>
                <div class="col-md-6 align-self-center text-center text-md-right my-2" id="social-media">
                    <a href="https://www.facebook.com" class="d-inline-block text-center ml-2">
                    	<i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.twitter.com" class="d-inline-block text-center ml-2">
                    	<i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="d-inline-block text-center ml-2">
                    	<i class="fa fa-medium" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com" class="d-inline-block text-center ml-2">
                    	<i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>