<div class="animated fadeIn">
  
    <!--/.col-->
    <div class="col-lg-12">
      <div class="card">
        
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name of Fertilizer Company</th>
                <th>Address</th>
                <th>Contact</th>
                <th>Website</th>
              </tr>
            </thead>
            <tbody>
            	<tr>
            		<td>The Fertiliser Association of India</td>  
					<td>FAI House, 10, Shaheed Jit Singh Marg, New Delhi - 110 067, INDIA  </td>
					<td>Tel+91-11-26567144, 
						<br>Email: general@faidelhi.org </td>
					<td> <a href="http://www.faidelhi.org"  target="blank">www.faidelhi.org</a></td>
				</tr>
				<tr>
					<td>Brahmaputra Valley Fertilizer Corporation Ltd  </td>
					<td>Namrup, P.O. Parbatpur – 786623 Dist. Dibrugarh (Assam), India  </td>
					<td>Tel: 0374-2500207,0374-2500207 <br>Email: info@bvfcl.co.in</td>
					<td> <a href="http://www.bvfcl.com"  target="blank">www.bvfcl.com</a></td>
			    </tr>
			    <tr>
			    	<td> Chambal Fertilisers and Chemicals Ltd.</td>    
					<td>Corporate One, First Floor,
					5 Commercial Centre, Jasola, New Delhi - 110 025
					India
					</td>
					<td>Tel: +91-11 41697900 / 46581300 <br>Fax: +91-11-40638679</td>
					<td>  <a href="http://www.chambalfertilisers.in"  target="blank">www.chambalfertilisers.in</a></td>
				</tr>
				<tr>
					<td>Coromandel International Ltd. </td> 
					<td>Coromandel House, Sardar Patel Road, Secunderabad 500 003,
						Telangana, India. </td> 
					<td>Tel: +91 40 27842034 <br>Fax: 91 40 27844117 </td>
					<td> <a href="http://www.coromandel.biz"  target="blank">www.coromandel.biz</a></td>
				</tr>
				<tr>
				<td>Deepak Fertilisers and Petrochemicals Corporation Ltd.  </td>
				<td>Opp. Golf Course, Shastri Nagar, Yerwada, Pune 411 006, India  </td>
				<td> Tel: +91 20-6645 8000 <br>Fax: +91 20-2668 3727</td> 
				<td> <a href="http://www.dfpcl.com"  target="blank">www.dfpcl.com</a></td>
			</tr>
			<tr>
				<td>Fertilisers & Chemicals Travancore Ltd.</td>  
				<td>FACT Petrochemical, Udyogamandal - 683 501, Kochi, Kerala, India</td>  
				<td>Tel: 2545042 <br>Fax: 0120-2412384 E-mail   : neeru.abrol@nfl.co.in</td>
				<td> <a href="http://www.fact.co.in"  target="blank">www.fact.co.in</a></td>
			</tr>
			<tr>
				<td>Hindalco Industries Ltd.</td>
				<td>5th Floor, Vandana Building, Tolstoy Marg, Tolstoy Marg, New Delhi, Delhi 110055 </td> 
				<td>Tel: 011 2373 0975 <br>Fax: 91-22-2436 2516 / 2422 7586</td>
				<td> <a href="http://www.hindalco.com"  target="blank">www.hindalco.com</a></td>
			</tr>
			<tr>
				<td>Greenstar Fertilizers Ltd</td>  
				<td>Muthiapuram Post, Tuticorin - 628 005 Tamilnadu, India</td>  
				<td>Tel: +91(461) 2355411 <br>Fax: +91(461) 2357001 <br>Email: narayans@greenstar.net.in</td>
				<td><a href="http://www.greenstarfertilizers.com"  target="blank">www.greenstarfertilizers.com</a></td>
			</tr>
			<tr>
				<td>Gujarat Narmada Valley Fertilizers & Chemicals Ltd.</td>  
				<td>P.O.: Narmadanagar – 392 015 District: Bharuch, Gujarat, India</td>  
				<td> Tel:- +91 - 2642 - 247001, 247002 <br>Fax:-+91-2642-228063 E-Mail:-vssirohi@gnfc.in</td>
				<td> <a href="http://gnfc.in"  target="blank">http://gnfc.in</a></td>
			</tr>
			<tr>
				<td>Gujarat State Fertilizers & Chemicals Ltd.</td>  
				<td> P.O. Fertilizernagar -391 750, Dist. Vadodara, Gujarat, India</td>
				<td>Tel:- +91-265-2242451, 2242651, 2242751 <br>Fax:- +91-265-2240966, 2240119</td>
				<td> <a href="http://www.gsfclimited.com"  target="blank">www.gsfclimited.com</a></td>
			</tr>  
			<tr>
				<td>Indian Farmers Fertiliser Cooperative Ltd</td>
				<td>IFFCO Sadan, C-1, District Centre, Saket Place,New Delhi - 110017 </td>   
				<td>Phone: 011-42592626,26542625</td>
				<td> <a href="http://www.iffco.in"  target="blank"></a> </td>
			</tr>
			<tr>
				<td> Indo Gulf Fertilisers Ltd. (A unit of Aditya Birla Nuvo Ltd.)  </td>
				<td>Indian Rayon Compound Veraval 362 266 Gujarat, India</td>
				<td>Tel: 91-2876 245711 <br>Email: abnlsecretarial@adityabirla.com </td>
				<td> <a href="http://www.adityabirlanuvo.net"  target="blank">www.adityabirlanuvo.net</a></td>
			</tr>
			<tr>
				<td>Krishak Bharart Cooperative Ltd.</td>
				<td>KRIBHCO Bhawan, A-l0, Sector-l, NOIDA Gautam BudhNagar U.P, India-201 301</td>
				<td>Tel:- 0120-2534631, 2534632 <br>Fax:- 0120-2537113</td>
				<td> <a href="http://kribhco.net"  target="blank">http://kribhco.net</a></td>
			</tr>
			<tr>
				<td>Kribhco Shyam Fertilisers Ltd.  </td>
				<td>A-60, Kailash Colony, New Delhi-110048</td>
				<td>Tel:- 91-120-2443701</td>
				<td> <a href="http://www.ksfl.in"  target="blank">www.ksfl.in</a></td>
			</tr>
			<tr>
				<td>Mangalore Chemicals & Fertilizers Ltd.</td>
				<td>  Flat No.1002, 10th Floor, Bhikaji Cama Bhavan, Bhikaji Cama Place,New Delhi - 110 066  </td>
				<td>Tel:- 011-26181760 <br>Fax:- 011-26107818</td>
				<td><a href="http://mangalorechemicals.com"  target="blank">www.mangalorechemicals.com</a></td>
			</tr>
			<tr>
				<td>Madras Fertilizers Ltd.</td>
				<td>  Manali, Chennai - 600 068</td>
 				<td>Tel:- 044 - 25941001</td>
 				<td><a href="http://madrasfert.co.in" target="blank">http://madrasfert.co.in</a></td>
            </tr>
              
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
    <!--/.col-->
  

</div>

