<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">group name</th>
      <th scope="col">Phone No</th>
      <th scope="col">Field1</th>
       <th scope="col">Request for</th>
      <th scope="col">view details</th>
    </tr>
  </thead>
 <tbody>
  
    
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>6854796582</td>
      <td>tractor</td>
      <td >View details<!-- <button type="button" (click)="loadDetails({{ ApprovedRequest.id }})"></button> --></td>
    </tr>
 </tbody>
</table>
