<div class="animated fadeIn">
  <div class="card-columns cols-2">
    
    
    
    
   
    
  </div>
</div>
<div class="animated fadeIn">
  <div class="card-columns cols-2">
    <div class="card">
      <div class="card-header">
        Member request
        
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <img src="assets/img/brand/lg.jpg" alt="logo">
        </div>
        <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i><a href="/#/base/requests/" style="color:white" >View requests</a></button>
          <!-- <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-eye"></i> decline</button> -->
      </div>
    </div>
   
    <div class="card">
      <div class="card-header">
        Group recommendations
        <div class="card-header-actions">
          <a href="http://www.chartjs.org">
            <small class="text-muted">fantastic 5</small><!--group name-->
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <img src="assets/img/brand/lg.jpg" alt="logo">
        </div>
        <!-- <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i><a href="/#/group/" style="color:white"> Join</a></button> -->
          <button type="button" class="btn btn-sm btn-primary" ><i class="fa fa-eye" ></i> <a href="/#/base/lands/" style="color:white" >View</a></button>
      </div>
    </div>
    
   
    
  </div>
</div>
